{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

<meta charset='UTF-8'>
<meta name='keywords' content='درباره میتروچیستا، میتروچیستا یه موتور جستجو هست که همه دوره های اینترنت رو بررسی میکنه و بر اساس کیفیت به شما نشون میده '>
<meta name='description' content='درباره میتروچیستا، میتروچیستا یه موتور جستجو هست که همه دوره های اینترنت رو بررسی میکنه و بر اساس کیفیت به شما نشون میده '>
<meta name='subject' content='میتروچیستا، موتور جستجوی دوره ها!'>
<meta name='copyright' content='mitrochista'>
<meta name='language' content='FA'>
<meta name='robots' content='index,follow'>
<meta name='abstract' content='موتور جستجوی دوره ها شما را قادر میسازد تا دوره های مد نظرتان را با قیمت مناسب تر، کیفیت بالاتر داشته باشید'>
<meta name='topic' content='جستجو بر روی آموزش های آنلاین'>
<meta name='summary' content='موتور جستجوی دوره های آنلاین'>
<meta name='Classification' content='Business'>
<meta name='author' content='mahdi rahmani, mahdirahmani8@yahoo.com'>
<meta name='designer' content='mahdi rahmani'>
<meta name='owner' content='Mitrochista'>
<meta name='url' content='http://www.mitrochista.ir/'>
<meta name='identifier-URL' content='http://www.mitrochista.ir/'>
<meta name='directory' content='submission'>
<meta name='category' content='search'>
<meta name='coverage' content='Worldwide'>
<meta name='distribution' content='Global'>
<meta name='rating' content='General'>
<meta name='revisit-after' content='7 days'>
<meta name='subtitle' content='@mitrochista'>
<meta name='target' content='all'>
<meta name='HandheldFriendly' content='True'>
<meta name='MobileOptimized' content='320'>
<meta name='ResourceLoaderDynamicStyles' content=''>
<meta http-equiv='Cache-Control' content='no-cache'>
<meta http-equiv='imagetoolbar' content='no'>
<meta http-equiv='x-dns-prefetch-control' content='off'>


  <title>میتروچیستا  ، درباره ما ، پلتفرم جستجوی آنلاین دوره ها</title>
  <link rel="shortcut icon" href="{% static './img/Mitrochista.png' %}">
  <link rel="stylesheet" href="{% static './assets/css/plugins.css' %}">
  <link rel="stylesheet" href="{% static './assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static './assets/css/colors/purple.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
</head>

<body style="font-family:'Open Sans'">
  <div class="content-wrapper">
    <header class="wrapper bg-soft-primary">
      <nav class="navbar navbar-expand-lg fancy navbar-light navbar-bg-light caret-none">
        <div class="container">
          <div class="navbar-collapse-wrapper bg-white d-flex flex-row flex-nowrap w-100 justify-content-between align-items-center">
            <div class="navbar-brand w-100">
              <a href="./index.html">
                <img src="{% static './img/Mitrochista.png' %}" style="widget:60dp;height:60px" srcset="{% static './img/Mitrochista.png' %} 2x" alt="" />
              </a>
            </div>
            <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start" dir="ltr">
              <div class="offcanvas-header d-lg-none d-xl-none">
                <a href="./index.html"><img src="{% static './assets/img/logo-light.png' %}" srcset="./assets/img/logo-light@2x.png 2x" alt="" /></a>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body ms-lg-auto d-flex flex-column h-100">
                <ul class="navbar-nav">

                    <li class="nav-item dropdown dropdown-mega">
                      <a class="nav-link dropdown-toggle" href="/contact/">تماس با ما</a>
                    </li>

                    <li class="nav-item dropdown dropdown-mega">
                        <a class="nav-link dropdown-toggle" href="/about/">درباره ما</a>
                    </li>

                    <li class="nav-item dropdown dropdown-mega">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">دسته بندی ها</a>
                        <ul class="dropdown-menu mega-menu">
                          <li class="mega-menu-content">
                            <div class="row gx-0 gx-lg-3">
                              <div class="col-lg-4" dir="auto">
                                <h6 class="dropdown-header">برنامه نویسی</h6>
                                <ul class="list-unstyled cc-2 pb-lg-1">
                                  <li><a class="dropdown-item" href="/tag/پایتون">پایتون</a></li>
                                  <li><a class="dropdown-item" href="/tag/جاوا">جاوا</a></li>
                                  <li><a class="dropdown-item" href="/tag/جاوا اسکریپت">جاوا اسکریپت</a></li>
                                  <li><a class="dropdown-item" href="/tag/جاوا اسکریپت">go</a></li>
                                  <li><a class="dropdown-item" href="/tag/هوش مصنوعی">هوش مصنوعی</a></li>
                                </ul>
                              <h6 class="dropdown-header mt-lg-6">دانشگاهی</h6>
                                <ul class="list-unstyled cc-2">
                                  <li><a class="dropdown-item" href="/tag/ریاضی">ریاضی</a></li>
                                  <li><a class="dropdown-item" href="/tag/فیزیک">فیزیک</a></li>
                                  <li><a class="dropdown-item" href="/tag/شیمی">شیمی</a></li>
                                  <li><a class="dropdown-item" href="/tag/ادبیات فارسی">ادبیات فارسی</a></li>
                                  <li><a class="dropdown-item" href="/tag/مهندسی متابولیک">مهندسی متابولیک</a></li>
                                  <li><a class="dropdown-item" href="/tag/مهندسی هوا فضا">مهندسی هوا فضا</a></li>
                                  <li><a class="dropdown-item" href="/tag/مهندسی کامپیوتر">مهندسی کامپیوتر</a></li>
                                </ul>
                              </div>
                              <!--/column -->
                              <div class="col-lg-8">
                                <h6 class="dropdown-header">برخی از دسته بندی های پرطرفدار</h6>
                                <ul class="list-unstyled cc-3">
                                  <li><a class="dropdown-item" href="/tag/شبیه سازی">شبیه سازی</a></li>
                                  <li><a class="dropdown-item" href="/tag/matlab">matlab</a></li>
                                  <li><a class="dropdown-item" href="/tag/بهینه سازی">بهینه سازی</a></li>
                                  <li><a class="dropdown-item" href="/tag/مدل سازی">مدل سازی</a></li>
                                  <li><a class="dropdown-item" href="/tag/programming">programming</a></li>
                                  <li><a class="dropdown-item" href="/tag/c#">c#</a></li>
                                  <li><a class="dropdown-item" href="/tag/پایگاه داده">پایگاه داده</a></li>
                                  <li><a class="dropdown-item" href="/tag/نرم افزار متلب">نرم افزار متلب</a></li>
                                  <li><a class="dropdown-item" href="/tag/انیمیشن">انیمیشن</a></li>
                                  <li><a class="dropdown-item" href="/tag/طراحی">طراحی</a></li>
                                  <li><a class="dropdown-item" href="/tag/مدیریت">مدیریت</a></li>
                                  <li><a class="dropdown-item" href="/tag/مهندسی عمران">مهندسی عمران</a></li>
                                  <li><a class="dropdown-item" href="/tag/برنامه نویسی اندروید">برنامه نویسی اندروید</a></li>
                                  <li><a class="dropdown-item" href="/tag/ترانسفورماتور">ترانسفورماتور</a></li>
                                  <li><a class="dropdown-item" href="/tag/بهینه سازی هوشمند">بهینه سازی هوشمند</a></li>
                                  <li><a class="dropdown-item" href="/tag/دینامیک">دینامیک</a></li>
                                  <li><a class="dropdown-item" href="/tag/زیست شناسی">زیست شناسی</a></li>
                                  <li><a class="dropdown-item" href="/tag/طراحی رابط کاربری">طراحی رابط کاربری</a></li>
                                  <li><a class="dropdown-item" href="/tag/حسابداری">حسابداری</a></li>
                                  <li><a class="dropdown-item" href="/tag/طراحی وب">طراحی وب</a></li>
                                  <li><a class="dropdown-item" href="/tag/شبکه">شبکه</a></li>
                                  <li><a class="dropdown-item" href="/tag/میدان مغناطیسی">میدان مغناطیسی</a></li>
                                  <li><a class="dropdown-item" href="/tag/مکانیک سیالات">مکانیک سیالات</a></li>
                                  <li><a class="dropdown-item" href="/tag/جبر خطی">جبر خطی</a></li>
                                  <li><a class="dropdown-item" href="/tag/مشتق">مشتق</a></li>
                                  <li><a class="dropdown-item" href="/tag/گرامر">گرامر</a></li>
                                  <li><a class="dropdown-item" href="/tag/الگوریتم">الگوریتم</a></li>
                                </ul>
                              </div>
                              <!--/column -->
                            </div>
                            <!--/.row -->
                          </li>
                          <!--/.mega-menu-content-->
                        </ul>
                        <!--/.dropdown-menu -->
                      </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/teacher/" >اساتید</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">وبسایت ها</a>

                    <ul class="dropdown-menu" >
                      <div style="text-direction:rtl;direction:rtl" dir="auto">
                        <li class="nav-item"><a class="dropdown-item" href="/publisher/">همه وبسایت ها</a></li>
                        <li class="dropdown dropdown-submenu dropend"><a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown"> همکاری با ما</a>
                          <ul class="dropdown-menu">
                            <li class="nav-item"><a class="dropdown-item" href="/partnership/">میتروچیستا چگونه به شما کمک میکند؟</a></li>
                            <li class="nav-item"><a class="dropdown-item" href="/partnership/">تعرفه ها و قیمت ها چگونه است؟</a></li>
                            <li class="nav-item"><a class="dropdown-item" href="/partnership/">درخواست همکاری</a></li>
                          </ul>
                        </li>
                        <li class="nav-item"><a class="dropdown-item" onclick="goToPublisherPage()">ورود به پنل منتشر کننده ها</a></li>
                      </div>
                    </ul>
                  </li>
                  <li class="nav-item dropdown dropdown-mega">
                    <a class="nav-link dropdown-toggle" href="/explore/">دوره ها</a>
                  </li>

                </ul>
                <!-- /.navbar-nav -->
              </div>
              <!-- /.offcanvas-body -->
            </div>
            <!-- /.navbar-collapse -->
            <div class="navbar-other w-100 d-flex ms-auto" dir="ltr">
              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <li class="nav-item">
                  <nav class="nav social social-muted justify-content-end text-end">

                    <a href="#"><i class="uil uil-twitter"></i></a>
                    <a href="#"><i class="uil uil-telegram"></i></a>
                    <a href="#"><i class="uil uil-linkedin"></i></a>
                    <a href="#"><i class="uil uil-instagram"></i></a>
                  </nav>
                  <!-- /.social -->
                </li>
                <li class="nav-item d-lg-none">
                  <button class="hamburger offcanvas-nav-btn"><span></span></button>
                </li>
              </ul>
              <!-- /.navbar-nav -->
            </div>
            <!-- /.navbar-other -->
          </div>
          <!-- /.navbar-collapse-wrapper -->
        </div>
        <!-- /.container -->
      </nav>
      <!-- /.navbar -->
    </header>
    <!-- /header -->
    <section class="wrapper bg-soft-primary">
      <div class="container pt-10 pb-20 pt-md-14 pb-md-23 text-center">
        <div class="row">
          <div class="col-xl-5 mx-auto mb-6">
            <h1 class="display-1 mb-3">درباره ما</h1>
            <p class="lead mb-0" dir="auto">ما خفن ترین برنامه جهان نیستیم، چون خیلی متواضعیم :))))))</p>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
      <div class="container pb-14 pb-md-16">
        <div class="row text-center mb-12 mb-md-15">
          <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-n18 mt-md-n22">
            <figure><img class="w-auto" src="{% static './assets/img/illustrations/i8.png' %}" srcset="./assets/img/illustrations/i8@2x.png 2x" alt="" /></figure>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
        <div class="row gx-lg-8 gx-xl-12 gy-6 gy-md-0 text-center">
          <div class="col-md-6 col-lg-3">
            <img src="{% static './assets/img/icons/lineal/megaphone.svg' %}" class="svg-inject icon-svg icon-svg-md text-blue mb-3" alt="" />
            <h4>آدم هاس ساکت به دنیا مدیونن!</h4>
            <p class="mb-2">بزرگترین مشکل وبسایت هایی که دوره میفروشن این هست که فاز همکلاسی ندارن، حالا چی میشه که همه دوره هایی که پیدا میکنیم رو براش یه گروه همکلاسی بزنیم ؟؟</p>
          </div>
          <!--/column -->
          <div class="col-md-6 col-lg-3">
            <img src="{% static './assets/img/icons/lineal/target.svg' %}" class="svg-inject icon-svg icon-svg-md text-green mb-3" alt="" />
            <h4>هدف ما چیست؟</h4>
            <p class="mb-2">علم دانش همیشه برای انسان مهم و با ارزش بوده، هست، وخواهد بود اما دسترسی آسان و سریع ممکن نبود، هدف مافقط روشن کردن چراغ خرد هست</p>
          </div>
          <!--/column -->
          <div class="col-md-6 col-lg-3">
            <img src="{% static './assets/img/icons/lineal/settings-3.svg' %}" class="svg-inject icon-svg icon-svg-md text-yellow mb-3" alt="" />
            <h4>منم میتونم به جمع منتشر کنندگان شما بیام؟</h4>
            <p class="mb-2" dir="auto">البته درحال حاضر فقط این امکان برای وبسایت هایی هست که دوره آموزشی دارند اما اگه شما مدرس یک یا چندین دوره هستنید میتونید با ما تماس بگیرید :)</p>
          </div>
          <!--/column -->
          <div class="col-md-6 col-lg-3">
            <img src="{% static './assets/img/icons/lineal/bar-chart.svg' %}" class="svg-inject icon-svg icon-svg-md text-orange mb-3" alt="" />
            <h4>دوره های خفن</h4>
            <p class="mb-2">تو میتروچیستا کلی دوره خفن از کلی وبسایته که بهت کمک میکنه دوره هایی که میخوای رو راحت تر پیدا کنی</p>
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-gray">
      <div class="container py-14 py-md-16">
        <div class="row gx-lg-8 gx-xl-12 gy-10 mb-14 mb-md-16 align-items-center">
          <div class="col-lg-7">
            <figure><img class="w-auto" src="{% static './assets/img/illustrations/i3.png' %}" srcset="./assets/img/illustrations/i3@2x.png 2x" alt="" /></figure>
          </div>
          <!--/column -->
          <div class="col-lg-5" dir="auto">
            <h2 class="fs-15 text-uppercase text-line text-primary mb-3">ما چگونه کار میکنیم ؟</h2>
            <h3 class="display-5 mb-7 pe-xxl-5">کلی دوره آموزشی تو اینترنت هست، درسته؟!</h3>
            <div class="d-flex flex-row mb-4">
              <div>
                <img src="{% static './assets/img/icons/lineal/light-bulb.svg' %}" class="svg-inject icon-svg icon-svg-sm text-blue me-4" alt="" />
              </div>
              <div>
                <h4 class="mb-1">&nbsp;وبسایت هایی که تمایل دارند رو شناسایی میکنیم</h4>
                <p class="mb-1"></p>
              </div>
            </div>
            <div class="d-flex flex-row mb-4">
              <div>
                <img src="{% static './assets/img/icons/lineal/pie-chart-2.svg' %}" class="svg-inject icon-svg icon-svg-sm text-green me-4" alt="" />
              </div>
              <div>
                <h4 class="mb-1">&nbsp; دوره های وبسایت ها رو جمع آوری میکنیم</h4>
              </div>
            </div>
            <div class="d-flex flex-row">
              <div>
                <img src="{% static './assets/img/icons/lineal/design.svg' %}" class="svg-inject icon-svg icon-svg-sm text-yellow me-4" alt="" />
              </div>
              <div>
                <h4 class="mb-1">&nbsp;&nbsp; دوره ها رو جمع آوری و دسته بندی میکنیم و به شما نشان میدهیم</h4>
              </div>
            </div>
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
          <div class="col-lg-7 order-lg-2">
            <figure><img class="w-auto" src="{% static './assets/img/illustrations/i2.png' %}" srcset="./assets/img/illustrations/i2@2x.png 2x" alt="" /></figure>
          </div>
          <!--/column -->
          <div class="col-lg-5" dir="auto">
            <h2 class="fs-15 text-uppercase text-line text-primary mb-3">به جمع منتشرکننگان ما بپیوندید</h2>
            <h3 class="display-5 mb-7">اگه شما هم وبسایت آموزشی دارید، میتونیم با هم همکاری کنیم!</h3>
            <div class="accordion accordion-wrapper" id="accordionExample">
              <div class="card plain accordion-item">
                <div class="card-header" id="headingOne">
                  <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> ما چگونه میتوانیم به شما کمک کنیم؟ </button>
                </div>
                <!--/.card-header -->
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="card-body">
                    <p>ما بهتون کمک میکنیم که دوره های شما بهتر دیده بشن و علاوه بر اون محیطی برای تبادلات دانشجویان دوره میسازیم :)</p>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.accordion-collapse -->
              </div>
              <!--/.accordion-item -->
              <div class="card plain accordion-item">
                <div class="card-header" id="headingTwo">
                  <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> مراحل کار چگونه هست؟ </button>
                </div>
                <!--/.card-header -->
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="card-body">
                    <p>ابتدا شما وبسایت خودتونو در <a href="/partnership/">سامانه ما</a> ثبت میکنید و ربات های ما با توجه میزان تعداد دوره هایی که دارید ممکن است تقریبا سه روز تا ده روز پیدا میکنه و به وبسایت ما اضافه میکنه</p>                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.accordion-collapse -->
              </div>
              <!--/.accordion-item -->
              <div class="card plain accordion-item">
                <div class="card-header" id="headingThree">
                  <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> تعرفه های ما چگونه هست؟ </button>
                </div>
                <!--/.card-header -->
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="card-body">
                    <p>ابتدا شما به صورت کاملا رایگان اشتراک هفت روزه برای تست دارید و اگر بخواهید همکاری را ادامه دهید به ازای هر بازدید که به واسطه میتروچیستا انجام شده مبلغی بین ۲۰۰ تا ۵۰۰ تومان از شارژ شما کاسته میشود</p>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.accordion-collapse -->
              </div>
              <!--/.accordion-item -->
            </div>
            <!--/.accordion -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->


    {% comment %} <section class="wrapper bg-light">
      <div class="container py-14 py-md-16">
        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
          <div class="col-lg-4">
            <h2 class="fs-15 text-uppercase text-line text-primary text-center mb-3">Meet the Team</h2>
            <h3 class="display-5 mb-5">Save your time and money by choosing our professional team.</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros tempus porttitor.</p>
            <a href="#" class="btn btn-primary rounded-pill mt-3">See All Members</a>
          </div>
          <!--/column -->
          <div class="col-lg-8">
            <div class="swiper-container text-center mb-6" data-margin="30" data-dots="true" data-items-xl="3" data-items-md="2" data-items-xs="1">
              <div class="swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img class="rounded-circle w-20 mx-auto mb-4" src="./assets/img/avatars/t1.jpg" srcset="./assets/img/avatars/t1@2x.jpg 2x" alt="" />
                    <h4 class="mb-1">Cory Zamora</h4>
                    <div class="meta mb-2">Marketing Specialist</div>
                    <p class="mb-2">Etiam porta sem magna malesuada mollis.</p>
                    <nav class="nav social justify-content-center text-center mb-0">
                      <a href="#"><i class="uil uil-twitter"></i></a>
                      <a href="#"><i class="uil uil-slack"></i></a>
                      <a href="#"><i class="uil uil-linkedin"></i></a>
                    </nav>
                    <!-- /.social -->
                  </div>
                  <!--/.swiper-slide -->
                  <div class="swiper-slide">
                    <img class="rounded-circle w-20 mx-auto mb-4" src="./assets/img/avatars/t2.jpg" srcset="./assets/img/avatars/t2@2x.jpg 2x" alt="" />
                    <h4 class="mb-1">Coriss Ambady</h4>
                    <div class="meta mb-2">Financial Analyst</div>
                    <p class="mb-2">Aenean eu leo quam. Pellentesque ornare lacinia.</p>
                    <nav class="nav social justify-content-center text-center mb-0">
                      <a href="#"><i class="uil uil-youtube"></i></a>
                      <a href="#"><i class="uil uil-facebook-f"></i></a>
                      <a href="#"><i class="uil uil-dribbble"></i></a>
                    </nav>
                    <!-- /.social -->
                  </div>
                  <!--/.swiper-slide -->
                  <div class="swiper-slide">
                    <img class="rounded-circle w-20 mx-auto mb-4" src="./assets/img/avatars/t3.jpg" srcset="./assets/img/avatars/t3@2x.jpg 2x" alt="" />
                    <h4 class="mb-1">Nikolas Brooten</h4>
                    <div class="meta mb-2">Sales Manager</div>
                    <p class="mb-2">Donec ornare elit quam porta gravida at eget.</p>
                    <nav class="nav social justify-content-center text-center mb-0">
                      <a href="#"><i class="uil uil-linkedin"></i></a>
                      <a href="#"><i class="uil uil-tumblr-square"></i></a>
                      <a href="#"><i class="uil uil-facebook-f"></i></a>
                    </nav>
                    <!-- /.social -->
                  </div>
                  <!--/.swiper-slide -->
                  <div class="swiper-slide">
                    <img class="rounded-circle w-20 mx-auto mb-4" src="./assets/img/avatars/t4.jpg" srcset="./assets/img/avatars/t4@2x.jpg 2x" alt="" />
                    <h4 class="mb-1">Jackie Sanders</h4>
                    <div class="meta mb-2">Investment Planner</div>
                    <p class="mb-2">Nullam risus eget urna mollis ornare vel eu leo.</p>
                    <nav class="nav social justify-content-center text-center mb-0">
                      <a href="#"><i class="uil uil-twitter"></i></a>
                      <a href="#"><i class="uil uil-facebook-f"></i></a>
                      <a href="#"><i class="uil uil-dribbble"></i></a>
                    </nav>
                    <!-- /.social -->
                  </div>
                  <!--/.swiper-slide -->
                  <div class="swiper-slide">
                    <img class="rounded-circle w-20 mx-auto mb-4" src="./assets/img/avatars/t5.jpg" srcset="./assets/img/avatars/t5@2x.jpg 2x" alt="" />
                    <h4 class="mb-1">Tina Geller</h4>
                    <div class="meta mb-2">Assistant Buyer</div>
                    <p class="mb-2">Vivamus sagittis lacus vel augue laoreet rutrum.</p>
                    <nav class="nav social justify-content-center text-center mb-0">
                      <a href="#"><i class="uil uil-facebook-f"></i></a>
                      <a href="#"><i class="uil uil-slack"></i></a>
                      <a href="#"><i class="uil uil-dribbble"></i></a>
                    </nav>
                    <!-- /.social -->
                  </div>
                  <!--/.swiper-slide -->
                </div>
                <!--/.swiper-wrapper -->
              </div>
              <!-- /.swiper -->
            </div>
            <!-- /.swiper-container -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section --> {% endcomment %}


    {% comment %} <section class="wrapper bg-gray">
      <div class="container py-14 py-md-16">
        <div class="row gx-lg-8 gx-xl-12 gy-6 mb-15 align-items-center">
          <div class="col-lg-7 order-lg-2">
            <figure><img class="w-auto" src="./assets/img/illustrations/i4.png" srcset="./assets/img/illustrations/i4@2x.png 2x" alt="" /></figure>
          </div>
          <!--/column -->
          <div class="col-lg-5 mt-lg-12">
            <div class="swiper-container dots-closer mb-6" data-margin="30" data-dots="true">
              <div class="swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <blockquote class="icon icon-top fs-lg text-center">
                      <p>“Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum ligula porta felis euismod semper. Cras justo odio consectetur.”</p>
                      <div class="blockquote-details justify-content-center text-center">
                        <div class="info ps-0">
                          <h5 class="mb-1">Coriss Ambady</h5>
                          <p class="mb-0">Financial Analyst</p>
                        </div>
                      </div>
                    </blockquote>
                  </div>
                  <!--/.swiper-slide -->
                  <div class="swiper-slide">
                    <blockquote class="icon icon-top fs-lg text-center">
                      <p>“Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum ligula porta felis euismod semper. Cras justo odio consectetur.”</p>
                      <div class="blockquote-details justify-content-center text-center">
                        <div class="info ps-0">
                          <h5 class="mb-1">Cory Zamora</h5>
                          <p class="mb-0">Marketing Specialist</p>
                        </div>
                      </div>
                    </blockquote>
                  </div>
                  <!--/.swiper-slide -->
                  <div class="swiper-slide">
                    <blockquote class="icon icon-top fs-lg text-center">
                      <p>“Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum ligula porta felis euismod semper. Cras justo odio consectetur.”</p>
                      <div class="blockquote-details justify-content-center text-center">
                        <div class="info ps-0">
                          <h5 class="mb-1">Nikolas Brooten</h5>
                          <p class="mb-0">Sales Manager</p>
                        </div>
                      </div>
                    </blockquote>
                  </div>
                  <!--/.swiper-slide -->
                </div>
                <!--/.swiper-wrapper -->
              </div>
              <!-- /.swiper -->
            </div>
            <!-- /.swiper-container -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
        <div class="px-lg-5">
          <div class="row gx-0 gx-md-8 gx-xl-12 gy-8 align-items-center">
            <div class="col-4 col-md-2">
              <figure class="px-5 px-md-0 px-lg-2 px-xl-3 px-xxl-4"><img src="./assets/img/brands/c1.png" alt="" /></figure>
            </div>
            <!--/column -->
            <div class="col-4 col-md-2">
              <figure class="px-5 px-md-0 px-lg-2 px-xl-3 px-xxl-4"><img src="./assets/img/brands/c2.png" alt="" /></figure>
            </div>
            <!--/column -->
            <div class="col-4 col-md-2">
              <figure class="px-5 px-md-0 px-lg-2 px-xl-3 px-xxl-4"><img src="./assets/img/brands/c3.png" alt="" /></figure>
            </div>
            <!--/column -->
            <div class="col-4 col-md-2">
              <figure class="px-5 px-md-0 px-lg-2 px-xl-3 px-xxl-4"><img src="./assets/img/brands/c4.png" alt="" /></figure>
            </div>
            <!--/column -->
            <div class="col-4 col-md-2">
              <figure class="px-5 px-md-0 px-lg-2 px-xl-3 px-xxl-4"><img src="./assets/img/brands/c5.png" alt="" /></figure>
            </div>
            <!--/column -->
            <div class="col-4 col-md-2">
              <figure class="px-5 px-md-0 px-lg-2 px-xl-3 px-xxl-4"><img src="./assets/img/brands/c6.png" alt="" /></figure>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!-- /div -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section --> {% endcomment %}


    <section class="wrapper bg-light" dir="auto">
      <div class="container py-14 py-md-16">
        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
          <div class="col-lg-7">
            <figure><img class="w-auto" src="{% static './assets/img/illustrations/i5.png' %}" srcset="./assets/img/illustrations/i5@2x.png 2x" alt="" /></figure>
          </div>
          <!--/column -->
          <div class="col-lg-5">
            <h2 class="fs-15 text-uppercase text-line text-primary text-center mb-3">با ما درتماس باشید</h2>
            <h3 class="display-5 mb-7">اگر هر سوالی داشتی میتونی ازمون بپرسی!</h3>
            <div class="d-flex flex-row">
              <div>
                <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-phone-volume"></i> </div>
              </div>
              <div>
                <h5 class="mb-1">&nbsp;تلفن</h5>
                <p dir="ltr">+98 (933) 083 26 76 <br> +98 (903) 162 40 99 </p>
              </div>
            </div>
            <div class="d-flex flex-row">
              <div>
                <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-envelope"></i> </div>
              </div>
              <div>
                <h5 class="mb-1">&nbsp;ایمیل</h5>
                <p class="mb-0"><a href="mailto:mail@mitrochista.ir" class="link-body">mail@mitrochista.ir</a></p>
              </div>
            </div>
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="bg-dark text-inverse mt-0 mt-md-16">
    <div class="container py-13 py-md-15">
      <div class="row gy-6 gy-lg-0">
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <img class="mb-4" src="./assets/img/logo-light.png" srcset="./assets/img/logo-light@2x.png 2x" alt="" />
            <p class="mb-4">© 2022 Mitrochista. <br class="d-none d-lg-block" />به امید علمی که خرد می آورد</p>
            <nav class="nav social social-white">
              <a href="#"><i class="uil uil-twitter"></i></a>
              <a href="#"><i class="uil uil-facebook-f"></i></a>
              <a href="#"><i class="uil uil-dribbble"></i></a>
              <a href="#"><i class="uil uil-instagram"></i></a>
              <a href="#"><i class="uil uil-youtube"></i></a>
            </nav>
            <!-- /.social -->
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <h4 class="widget-title text-white mb-3">با ما درتماس باشید</h4>
            <address class="pe-xl-15 pe-xxl-17">مازندران - قائمشهر</address>
            <a href="mailto:mail.mitrochista.ir">mail.mitrochista.ir</a><br /> +98 (933) 083 26 76<br> +98 (903) 162 40 99
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <h4 class="widget-title text-white  mb-3">بیشتر بخوانید</h4>
            <ul class="list-unstyled text-reset mb-0">
              <li><a href="/contact/">درباره ما</a></li>
              <li><a href="#">داستان ما</a></li>
              <li><a href="#">دوره ها</a></li>
              <li><a href="#">مدرس ها</a></li>
              <li><a href="#">وبسایت ها</a></li>
            </ul>
          </div>
        </div>
        <!-- /column -->
        <div class="col-md-12 col-lg-3">
          <div class="widget">
            <h4 class="widget-title text-white mb-3">به خبرنامه ما بپیوندید</h4>
            <p class="mb-5"> اگه دوست دارید از اخبار جدید دوره ها ، اساتید مطلع بشید، ایمیل خود را وارد کنید</p>
            <div class="newsletter-wrapper">
              <!-- Begin Mailchimp Signup Form -->
              <div id="mc_embed_signup2">
                <form method="post">
                  {% csrf_token %}
                  <div id="mc_embed_signup_scroll2">
                    <div class="mc-field-group input-group form-floating">
                      <input type="email" value="" name="EMAIL" class="required email form-control" placeholder="Email Address" id="mce-EMAIL2">
                      <label for="mce-EMAIL2">Email Address</label>
                      <input type="submit" value="Join" name="subscribe" id="mc-embedded-subscribe2" class="btn btn-primary ">
                    </div>
                    <div id="mce-responses2" class="clear">
                      <div class="response" id="mce-error-response2" style="display:none"></div>
                      <div class="response" id="mce-success-response2" style="display:none"></div>
                    </div> <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ddc180777a163e0f9f66ee014_4b1bcfa0bc" tabindex="-1" value=""></div>
                    <div class="clear"></div>
                  </div>
                </form>
              </div>
              <!--End mc_embed_signup-->
            </div>
            <!-- /.newsletter-wrapper -->
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </footer>
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <script src="{% static './assets/js/plugins.js' %}"></script>
  <script src="{% static './assets/js/theme.js' %}"></script>
  <script>
    function getCookie(cname) {
      let name = cname + "=";
      let decodedCookie = decodeURIComponent(document.cookie);
      let ca = decodedCookie.split(';');
      for(let i = 0; i <ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }

    function goToPublisherPage(){

      if (getCookie("pub_id") !="" ){
        window.open("/pannel/website/"+getCookie("pub_id"))
      }else{
        window.open("/pannel/signin/")
      }
    }

  </script>
</body>

</html>
