{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

<meta charset='UTF-8'>
<meta name='keywords' content='ارتباط با میتروچیستا، اگه دوست دارید با ما بیشتر در ارتباط باشید خوب این راهشه ، میتروچیستا پلتفرم جستجوی آنلاین دوره'>
<meta name='description' content='میتروچیستا، موتور جستجو بر روی دوره های آنلاین میباشد که به شما این امکان را میدهد که از بین تمام دوره های اینترنت بهترین دوره را پیدا کنید'>
<meta name='subject' content='میتروچیستا، موتور جستجوی دوره ها!'>
<meta name='copyright' content='mitrochista'>
<meta name='language' content='FA'>
<meta name='robots' content='index,follow'>
<meta name='abstract' content='موتور جستجوی دوره ها شما را قادر میسازد تا دوره های مد نظرتان را با قیمت مناسب تر، کیفیت بالاتر داشته باشید'>
<meta name='topic' content='جستجو بر روی آموزش های آنلاین'>
<meta name='summary' content='موتور جستجوی دوره های آنلاین'>
<meta name='Classification' content='Business'>
<meta name='author' content='mahdi rahmani, mahdirahmani8@yahoo.com'>
<meta name='designer' content='mahdi rahmani'>
<meta name='owner' content='Mitrochista'>
<meta name='url' content='http://www.mitrochista.ir/'>
<meta name='identifier-URL' content='http://www.mitrochista.ir/'>
<meta name='directory' content='submission'>
<meta name='category' content='search'>
<meta name='coverage' content='Worldwide'>
<meta name='distribution' content='Global'>
<meta name='rating' content='General'>
<meta name='revisit-after' content='7 days'>
<meta name='subtitle' content='@mitrochista'>
<meta name='target' content='all'>
<meta name='HandheldFriendly' content='True'>
<meta name='MobileOptimized' content='320'>
<meta name='ResourceLoaderDynamicStyles' content=''>
<meta http-equiv='Cache-Control' content='no-cache'>
<meta http-equiv='imagetoolbar' content='no'>
<meta http-equiv='x-dns-prefetch-control' content='off'>


  <title>میتروچیستا ، پلتفرم جستجوی آنلاین دوره ها</title>

  <link rel="shortcut icon" href="{% static './img/Mitrochista.png' %}">
  <link rel="stylesheet" href="{% static './assets/css/plugins.css' %}">
  <link rel="stylesheet" href="{% static './assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static './assets/css/colors/purple.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
</head>

<body style="font-family:'Open Sans'">
  <div class="content-wrapper">
    <header class="wrapper bg-soft-primary">
      <nav class="navbar navbar-expand-lg fancy center-nav transparent position-absolute ">
        <div class="container">
          <div class="navbar-collapse-wrapper bg-white d-flex flex-row flex-nowrap w-100 justify-content-between align-items-center">
            <div class="navbar-brand w-100">
              <a href="./index.html">
                <img src="{% static './img/Mitrochista.png' %}" style="widget:60dp;height:60px" srcset="{% static './img/Mitrochista.png' %} 2x" alt="" />
              </a>
            </div>
            <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start" dir="ltr">
              <div class="offcanvas-header d-lg-none d-xl-none">
                <a href="./index.html"><img src="{% static './assets/img/logo-light.png' %}" srcset="./assets/img/logo-light@2x.png 2x" alt="" /></a>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body ms-lg-auto d-flex flex-column h-100">
                <ul class="navbar-nav">

                    <li class="nav-item dropdown dropdown-mega">
                      <a class="nav-link " href="/contact/">تماس با ما</a>
                    </li>

                    <li class="nav-item dropdown dropdown-mega">
                        <a class="nav-link " href="/about/">درباره ما</a>
                    </li>

                    <li class="nav-item dropdown dropdown-mega">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">دسته بندی ها</a>
                        <ul class="dropdown-menu mega-menu">
                          <li class="mega-menu-content">
                            <div class="row gx-0 gx-lg-3">
                              <div class="col-lg-4" dir="auto">
                                <h6 class="dropdown-header">برنامه نویسی</h6>
                                <ul class="list-unstyled cc-2 pb-lg-1">
                                  <li><a class="dropdown-item" href="/tag/پایتون">پایتون</a></li>
                                  <li><a class="dropdown-item" href="/tag/جاوا">جاوا</a></li>
                                  <li><a class="dropdown-item" href="/tag/جاوا اسکریپت">جاوا اسکریپت</a></li>
                                  <li><a class="dropdown-item" href="/tag/جاوا اسکریپت">go</a></li>
                                  <li><a class="dropdown-item" href="/tag/هوش مصنوعی">هوش مصنوعی</a></li>
                                </ul>
                              <h6 class="dropdown-header mt-lg-6">دانشگاهی</h6>
                                <ul class="list-unstyled cc-2">
                                  <li><a class="dropdown-item" href="/tag/ریاضی">ریاضی</a></li>
                                  <li><a class="dropdown-item" href="/tag/فیزیک">فیزیک</a></li>
                                  <li><a class="dropdown-item" href="/tag/شیمی">شیمی</a></li>
                                  <li><a class="dropdown-item" href="/tag/ادبیات فارسی">ادبیات فارسی</a></li>
                                  <li><a class="dropdown-item" href="/tag/مهندسی متابولیک">مهندسی متابولیک</a></li>
                                  <li><a class="dropdown-item" href="/tag/مهندسی هوا فضا">مهندسی هوا فضا</a></li>
                                  <li><a class="dropdown-item" href="/tag/مهندسی کامپیوتر">مهندسی کامپیوتر</a></li>
                                </ul>
                              </div>
                              <!--/column -->
                              <div class="col-lg-8">
                                <h6 class="dropdown-header">برخی از دسته بندی های پرطرفدار</h6>
                                <ul class="list-unstyled cc-3">
                                  <li><a class="dropdown-item" href="/tag/شبیه سازی">شبیه سازی</a></li>
                                  <li><a class="dropdown-item" href="/tag/matlab">matlab</a></li>
                                  <li><a class="dropdown-item" href="/tag/بهینه سازی">بهینه سازی</a></li>
                                  <li><a class="dropdown-item" href="/tag/مدل سازی">مدل سازی</a></li>
                                  <li><a class="dropdown-item" href="/tag/programming">programming</a></li>
                                  <li><a class="dropdown-item" href="/tag/c#">c#</a></li>
                                  <li><a class="dropdown-item" href="/tag/پایگاه داده">پایگاه داده</a></li>
                                  <li><a class="dropdown-item" href="/tag/نرم افزار متلب">نرم افزار متلب</a></li>
                                  <li><a class="dropdown-item" href="/tag/انیمیشن">انیمیشن</a></li>
                                  <li><a class="dropdown-item" href="/tag/طراحی">طراحی</a></li>
                                  <li><a class="dropdown-item" href="/tag/مدیریت">مدیریت</a></li>
                                  <li><a class="dropdown-item" href="/tag/مهندسی عمران">مهندسی عمران</a></li>
                                  <li><a class="dropdown-item" href="/tag/برنامه نویسی اندروید">برنامه نویسی اندروید</a></li>
                                  <li><a class="dropdown-item" href="/tag/ترانسفورماتور">ترانسفورماتور</a></li>
                                  <li><a class="dropdown-item" href="/tag/بهینه سازی هوشمند">بهینه سازی هوشمند</a></li>
                                  <li><a class="dropdown-item" href="/tag/دینامیک">دینامیک</a></li>
                                  <li><a class="dropdown-item" href="/tag/زیست شناسی">زیست شناسی</a></li>
                                  <li><a class="dropdown-item" href="/tag/طراحی رابط کاربری">طراحی رابط کاربری</a></li>
                                  <li><a class="dropdown-item" href="/tag/حسابداری">حسابداری</a></li>
                                  <li><a class="dropdown-item" href="/tag/طراحی وب">طراحی وب</a></li>
                                  <li><a class="dropdown-item" href="/tag/شبکه">شبکه</a></li>
                                  <li><a class="dropdown-item" href="/tag/میدان مغناطیسی">میدان مغناطیسی</a></li>
                                  <li><a class="dropdown-item" href="/tag/مکانیک سیالات">مکانیک سیالات</a></li>
                                  <li><a class="dropdown-item" href="/tag/جبر خطی">جبر خطی</a></li>
                                  <li><a class="dropdown-item" href="/tag/مشتق">مشتق</a></li>
                                  <li><a class="dropdown-item" href="/tag/گرامر">گرامر</a></li>
                                  <li><a class="dropdown-item" href="/tag/الگوریتم">الگوریتم</a></li>
                                </ul>
                              </div>
                              <!--/column -->
                            </div>
                            <!--/.row -->
                          </li>
                          <!--/.mega-menu-content-->
                        </ul>
                        <!--/.dropdown-menu -->
                      </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link " href="/teacher/" >اساتید</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">وبسایت ها</a>

                    <ul class="dropdown-menu" >
                      <div style="text-direction:rtl;direction:rtl" dir="auto">
                        <li class="nav-item"><a class="dropdown-item" href="/publisher/">همه وبسایت ها</a></li>
                        <li class="dropdown dropdown-submenu dropend"><a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown"> همکاری با ما</a>
                          <ul class="dropdown-menu">
                            <li class="nav-item"><a class="dropdown-item" href="/partnership/">میتروچیستا چگونه به شما کمک میکند؟</a></li>
                            <li class="nav-item"><a class="dropdown-item" href="/partnership/">تعرفه ها و قیمت ها چگونه است؟</a></li>
                            <li class="nav-item"><a class="dropdown-item" href="/partnership/">درخواست همکاری</a></li>
                          </ul>
                        </li>
                        <li class="nav-item"><a class="dropdown-item" onclick="goToPublisherPage()">ورود به پنل منتشر کننده ها</a></li>
                      </div>
                    </ul>
                  </li>
                  <li class="nav-item dropdown dropdown-mega">
                    <a class="nav-link " href="/explore/">دوره ها</a>
                  </li>

                </ul>
                <!-- /.navbar-nav -->
              </div>
              <!-- /.offcanvas-body -->
            </div>
            <!-- /.navbar-collapse -->
            <div class="navbar-other w-100 d-flex ms-auto" dir="ltr">
              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <li class="nav-item">
                  <nav class="nav social social-muted justify-content-end text-end">

                    <a href="#"><i class="uil uil-twitter"></i></a>
                    <a href="#"><i class="uil uil-telegram"></i></a>
                    <a href="#"><i class="uil uil-linkedin"></i></a>
                    <a href="#"><i class="uil uil-instagram"></i></a>
                  </nav>
                  <!-- /.social -->
                </li>
                <li class="nav-item d-lg-none">
                  <button class="hamburger offcanvas-nav-btn"><span></span></button>
                </li>
              </ul>
              <!-- /.navbar-nav -->
            </div>
            <!-- /.navbar-other -->
          </div>
          <!-- /.navbar-collapse-wrapper -->
        </div>
        <!-- /.container -->
      </nav>
      <!-- /.navbar -->
    </header>
    <!-- /header -->
    <section class="wrapper image-wrapper bg-image bg-overlay bg-overlay-400 text-white" data-image-src="{% static './assets/img/photos/bg3.jpg' %}">
      <div class="container pt-17 pb-20 pt-md-19 pb-md-21 text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h1 class="display-1 mb-3 text-white" dir="auto">این جا سرآغاز یک دوستی است!</h1>
            <nav class="d-inline-block" aria-label="breadcrumb">
              <ol class="breadcrumb text-white">
                <li class="breadcrumb-item" dir="auto"><a href="#">هر چی تو دلته رو بهمون بگو ،</a></li>
              </ol>
              <br><br><br>
            </nav>
            <!-- /nav -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light angled upper-end">
      <div class="container pb-11">
        <div class="row mb-14 mb-md-16">
          <div class="col-xl-10 mx-auto mt-n19">
            <div class="card">
              <div class="row gx-0">
                <div class="col-lg-6 align-self-stretch">
                  <div class="map map-full rounded-top rounded-lg-start">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d42012.108135232455!2d52.833811945722665!3d36.46352039119461!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f855d26bc0ac781%3A0x573f58a115ea3bca!2sQaemshahr%2C%20Mazandaran%20Province%2C%20Iran!5e0!3m2!1sen!2s!4v1656868595948!5m2!1sen!2s" style="width:100%; height: 100%; border:0" allowfullscreen></iframe>
                  </div>
                  <!-- /.map -->
                </div>
                <!--/column -->
                <div class="col-lg-6" dir="auto">
                  <div class="p-10 p-md-11 p-lg-14">
                    <div class="d-flex flex-row">
                      <div>
                        <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-location-pin-alt"></i> </div>
                      </div>
                      <div class="align-self-end justify-content-end ">
                        <h5 class="mb-1">آدرس</h5>
                        <address>مازندران , <br class="d-none d-md-block" />قائمشهر - روستای پرچیکلا</address>
                      </div>
                    </div>
                    <!--/div -->
                    <div class="d-flex flex-row">
                      <div>
                        <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-phone-volume"></i> </div>
                      </div>
                      <div>
                        <h5 class="mb-1">تلفن</h5>
                        <p dir="ltr">+98 (933) 083 26 76 <br />+98 (903) 162 40 99</p>
                      </div>
                    </div>
                    <!--/div -->
                    <div class="d-flex flex-row">
                      <div>
                        <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-envelope"></i> </div>
                      </div>
                      <div>
                        <h5 class="mb-1">E-mail</h5>
                        <p class="mb-0"><a href="mailto:mail@mitrochista.ir" class="link-body">mail@mitrochista.ir</a></p>
                      </div>
                    </div>
                    <!--/div -->
                  </div>
                  <!--/div -->
                </div>
                <!--/column -->
              </div>
              <!--/.row -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
            <h2 class="display-4 mb-3 text-center"  dir="auto">شاعرانه تر از یک دست نوشته چیست ؟؟ هیچ!</h2>
            <p class="lead text-center mb-10"  dir="auto">هر چی دل تنگت میخواد بنویس :)</p>
            <form class="contact-form" method="post" >
              {% csrf_token %}
              <div class="messages"></div>
              <div class="row gx-4">
                <div class="col-md-6">
                  <div class="form-floating mb-4">
                    <input id="form_name" dir="auto" type="text" name="name" class="form-control" placeholder="Jane" required>
                    <label for="form_name"> Name *</label>

                  </div>
                </div>
                <!-- /column -->
                <div class="col-md-6">
                  <div class="form-floating mb-4">
                    <input id="form_lastname" type="text" name="email" class="form-control" placeholder="Doe" required>
                    <label for="form_lastname"> Email * </label>

                  </div>
                </div>
                <!-- /column -->

                <div class="col-12">
                  <div class="form-floating mb-4">
                    <textarea id="form_message" dir="auto" name="msg" class="form-control" placeholder="Your message" style="height: 150px" required></textarea>
                    <label for="form_message">Message *</label>
                  </div>
                </div>
                <!-- /column -->
                <div class="col-12 text-center">
                  <input type="submit" class="btn btn-primary rounded-pill btn-send mb-3" value="ارسال پیام">
                </div>
                <!-- /column -->
              </div>
              <!-- /.row -->
            </form>
            <!-- /form -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->

{% comment %}
    <section class="wrapper image-wrapper bg-auto no-overlay bg-image text-center bg-map" data-image-src="./assets/img/map.png">
      <div class="container pt-0 pb-14 pt-md-16 pb-md-18">
        <div class="row">
          <div class="col-lg-9 col-xxl-8 mx-auto">
            <h3 class="display-4 mb-8 px-xl-12">We are trusted by over 5000+ clients. Join them now and grow your business.</h3>
          </div>
          <!-- /.row -->
        </div>
        <!-- /column -->
        <div class="row">
          <div class="col-md-10 col-lg-9 col-xl-7 mx-auto">
            <div class="row align-items-center counter-wrapper gy-4 gy-md-0">
              <div class="col-md-4 text-center">
                <h3 class="counter counter-lg text-primary">7518</h3>
                <p>Completed Projects</p>
              </div>
              <!--/column -->
              <div class="col-md-4 text-center">
                <h3 class="counter counter-lg text-primary">5472</h3>
                <p>Satisfied Customers</p>
              </div>
              <!--/column -->
              <div class="col-md-4 text-center">
                <h3 class="counter counter-lg text-primary">2184</h3>
                <p>Expert Employees</p>
              </div>
              <!--/column -->
            </div>
            <!--/.row -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section --> {% endcomment %}
  </div>
  <!-- /.content-wrapper -->





  <footer class="bg-dark text-inverse mt-0 mt-md-16">
    <div class="container py-13 py-md-15">
      <div class="row gy-6 gy-lg-0">
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <img class="mb-4" src="./assets/img/logo-light.png" srcset="./assets/img/logo-light@2x.png 2x" alt="" />
            <p class="mb-4">© 2022 Mitrochista. <br class="d-none d-lg-block" />به امید علمی که خرد می آورد</p>
            <nav class="nav social social-white">
              <a href="#"><i class="uil uil-twitter"></i></a>
              <a href="#"><i class="uil uil-facebook-f"></i></a>
              <a href="#"><i class="uil uil-dribbble"></i></a>
              <a href="#"><i class="uil uil-instagram"></i></a>
              <a href="#"><i class="uil uil-youtube"></i></a>
            </nav>
            <!-- /.social -->
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <h4 class="widget-title text-white mb-3">با ما درتماس باشید</h4>
            <address class="pe-xl-15 pe-xxl-17">مازندران - قائمشهر</address>
            <a href="mailto:mail.mitrochista.ir">mail.mitrochista.ir</a><br /> +98 (933) 083 26 76<br> +98 (903) 162 40 99
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <h4 class="widget-title text-white  mb-3">بیشتر بخوانید</h4>
            <ul class="list-unstyled text-reset mb-0">
              <li><a href="/contact/">درباره ما</a></li>
              <li><a href="#">داستان ما</a></li>
              <li><a href="#">دوره ها</a></li>
              <li><a href="#">مدرس ها</a></li>
              <li><a href="#">وبسایت ها</a></li>
            </ul>
          </div>
        </div>
        <!-- /column -->
        <div class="col-md-12 col-lg-3">
          <div class="widget">
            <h4 class="widget-title text-white mb-3">به خبرنامه ما بپیوندید</h4>
            <p class="mb-5"> اگه دوست دارید از اخبار جدید دوره ها ، اساتید مطلع بشید، ایمیل خود را وارد کنید</p>
            <div class="newsletter-wrapper">
              <!-- Begin Mailchimp Signup Form -->
              <div id="mc_embed_signup2">
                <form method="post">
                  {% csrf_token %}
                  <div id="mc_embed_signup_scroll2">
                    <div class="mc-field-group input-group form-floating">
                      <input type="email" value="" name="EMAIL" class="required email form-control" placeholder="Email Address" id="mce-EMAIL2">
                      <label for="mce-EMAIL2">Email Address</label>
                      <input type="submit" value="Join" name="subscribe" id="mc-embedded-subscribe2" class="btn btn-primary ">
                    </div>
                    <div id="mce-responses2" class="clear">
                      <div class="response" id="mce-error-response2" style="display:none"></div>
                      <div class="response" id="mce-success-response2" style="display:none"></div>
                    </div> <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ddc180777a163e0f9f66ee014_4b1bcfa0bc" tabindex="-1" value=""></div>
                    <div class="clear"></div>
                  </div>
                </form>
              </div>
              <!--End mc_embed_signup-->
            </div>
            <!-- /.newsletter-wrapper -->
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </footer>


  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <script src="{% static './assets/js/plugins.js' %}"></script>
  <script src="{% static './assets/js/theme.js' %}"></script>
  <script>
    function getCookie(cname) {
      let name = cname + "=";
      let decodedCookie = decodeURIComponent(document.cookie);
      let ca = decodedCookie.split(';');
      for(let i = 0; i <ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }

    function goToPublisherPage(){

      if (getCookie("pub_id") !="" ){
        window.open("/pannel/website/"+getCookie("pub_id"))
      }else{
        window.open("/pannel/signin/")
      }
    }

  </script>
</body>

</html>
